<%= form_with(model: [:admin, admin_blog_category], class: "contents") do |form| %>
  <% if admin_blog_category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(admin_blog_category.errors.count, "error") %> prohibited this admin_blog_category from being saved:</h2>

      <ul>
        <% admin_blog_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "tinymce block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mb-8 mt-2 w-full" %>
    <%= tinymce %>
  </div>

  <div class="my-5">
    <%= form.label :image %>
    <%= form.file_field :image, rows: 4, class: "block shadow rounded-md border border-sky-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :active %>
    <%= form.check_box :active, class: "block mt-2 h-5 w-5" %>
  </div>

  <% unless admin_blog_category.new_record? %>
    <div class="my-5">
      <%= link_to "Blog Posts", admin_blog_category_blogs_path(admin_blog_category), class: "underline" %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>