<div class="container mt-5">
  <div class="container mt-5 mx-auto px-4">
    <div class="max-w-7xl w-full mx-auto px-10 mb-2"> 
      <%= link_to "Blogs", blog_path, class: "text-xl text-gray-100 hover:text-gray-200" %>
      <%= link_to "> #{@blog.blog_category.name}", @blog.blog_category, class: "text-xl text-gray-100" if @blog.blog_category %>
      <%= link_to "> #{@blog.title}", @blog, class: "text-xl text-gray-100" %>
    </div>
  <div class="bg-white rounded-lg shadow-md overflow-hidden">
    <% if @blog.image.attached? %>
      <%= image_tag(url_for(@blog.image), class: "w-full h-64 object-cover") %>
    <% else %>
      <%= image_tag("http://via.placeholder.com/512", class: "w-full h-64 object-cover") %>
    <% end %>
    <div class="p-6">
      <h1 class="text-3xl font-bold text-gray-800 mb-4"><%= @blog.title %></h1>
      <div class="text-gray-700 text-base">
        <%= @blog.content.body %>
      </div>
    </div>
  </div>
</div>

</div>
